.main-header {
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1d3c45;
	color: #d2601a;
	padding-inline: 1rem;
	border-bottom: 1px solid #d2601a;
}
.header {
	display: flex;
	gap: 1rem;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.342);
	padding: .4rem 1rem;
}
.header i {
	animation: dropin 3s infinite;
	font-size: 1.3rem;
}
.nav-links {
	display: flex;
	gap: 0.5rem;
	width: 20%;
	height: 5vh;
}
.link {
	color:#1d3c45;
	text-decoration: none;
	font-weight: bold;
	padding-inline: .5rem;
	font-size: 1rem;
}
.shopping-cart, .products-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #d2611ac9;
}
.cart-icon {
	font-size: 1.3rem;
	color:#1d3c45;
	max-width: 30%;
}
.cart-quantity {
	color: #1d3c45;
}
@keyframes dropin {
	from {
		position: relative;
		bottom: 10rem;
	}
	to {
		position: relative;
		bottom: 0;
	}
}
@media screen and (max-width: 768px){
	.main-header {
		height: 6vh;
		justify-content: space-evenly;
	}
	.header {
		padding-block: .5rem;
		font-size: .6rem;
		gap: .7rem;
	}
	.nav-links {
		justify-content: center;
		align-items: center;
		height: 3.5vh;
	}
	.products-container {
		height: 70%;
		justify-content: center;
		align-items: center;
		background-color: #1d3c45;
	}
	.link {
		text-align: center;
		padding: 0;
		width: 100%;
		font-size: .9rem;
		color:#d2601a;
	}
	.shopping-cart {
		border-left: 1px solid #d2601a;
		height: 100%;
		background-color: #1d3c45;
	}
	.cart-icon {
		font-size: 1rem;
		color: #d2601a;
	}
	.cart-quantity {
		color: #d2601a;
	}
}
@media screen and (max-width: 543px){
	.main-header {
		height: 7vh;
		justify-content: space-between;
		padding-inline: .5rem;
	}
	.header {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 37%;
		height: 55%;
		font-size: .5rem;
		gap: .7rem;
	}
	.nav-links {
		justify-content: space-between;
		height: 55%;
		width: 40%;
		gap: 0;
		box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.342);
	}
	.products-container, .shopping-cart {
		border-radius: 0;
		height: 100%;
	}
	.link {
		font-size: .8rem;
	}
	.cart-icon {
		font-size: .9rem;
	}
	.cart-quantity {
		font-size: 0.8rem;
	}
}